@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="card m-auto" style="width: 18rem;">        
        <div class="card-body">            
            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
        </div>
    </div>
    <div class="card m-auto" style="width: 18rem;">
        <div class="card-body">
            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        </div>
    </div>
    <div class="card m-auto" style="width: 18rem;">
        <div class="card-body">
            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
        </div>
    </div>
</div>
